openapi: 3.1.0

info:
  title: babel.plus API
  version: 1.0.0-draft
  summary: 三个 API 面（node / client / user / admin / internal）的唯一契约事实源
  description: |
    本文件是 babel.plus 全仓的契约事实源（spec-first，ADR 0006 §9）。
    Go 侧由 `oapi-codegen` 生成 StrictServerInterface，TS 侧由 `openapi-typescript` +
    `openapi-fetch` 生成类型；CI 用 `git diff --exit-code` 卡生成物漂移。

    ## 五条互不共享的中间件链

    | 面 | tag | 路径前缀 | 鉴权 | 响应形状 |
    |---|---|---|---|---|
    | 节点面（**冻结契约**） | `node` | `/api/v1/server/UniProxy/*` | `nodeKey` | **裸 JSON，无信封** |
    | 订阅面（生态硬接口） | `client` | `/api/v1/client/subscribe`、`/s/{token}` | token 本身 | YAML / JSON / base64 |
    | 用户面 | `user` | `/api/v1/*` | `userSession` | 统一信封 |
    | 管理面 | `admin` | `/api/v1/admin/*` | `adminSession` + `adminIap` | 统一信封 |
    | 内部面 | `internal` | `/internal/tasks/*` | `internalOidc` | 裸 `{"ok":true}` |

    禁止「一个全局 auth 中间件 + 身份类型 if 分支」（ADR 0006 §10.3）。

    ## 统一响应信封（只适用于 user / admin 两面）

    成功 `{"data": …, "meta": {"request_id": "…"}}`；失败 `{"error": {"code","message","details"},"meta":{…}}`。
    `data` 与 `error` 互斥；信封里没有 `status` / `success` 字段，HTTP 状态码是唯一权威。
    `meta.request_id` 必然存在（含 5xx），值等于响应头 `X-Request-Id`。

    三处例外不套信封：`/api/v1/server/UniProxy/*`（裸 JSON，v2node 直接反序列化）、
    `/api/v1/client/subscribe`（`text/yaml` / `application/json` / `text/plain`）、`GET /healthz`（纯文本 `ok`）。

    ## 单位与类型约定

    - **金额一律 `integer` `format: int64`，单位「分」**（字段名 `*_amount`），另有 `currency: "CNY"`。
      **任何金额、流量、倍率都不得出现浮点。** 唯一允许浮点的是 `POST /status` 的 `cpu`。
    - USDT 金额单位 `1e-6 USDT`，字段名 `*_amount_usdt6`。
    - 流量单位字节，`integer` `format: int64`，字段名 `*_bytes`（UniProxy 面照抄 `u` / `d` / `transfer_enable`，不改名）。
    - 倍率定点整数，基数 `1e9`，字段名 `multiplier_e9`。
    - 时间一律 `string` `format: date-time`（RFC3339，UTC，带 `Z`），字段名以 `_at` 结尾。
      **三处例外必须是 Unix 秒整数**：UniProxy 面所有时间字段、`subscription-userinfo` 的 `expire=`、订阅内容体里的时间。

    ## 分页

    游标分页为默认：`?limit=20&cursor=<base64url>`。`limit` 默认 20 / 上限 100。
    `cursor` 是 base64url 的 `{"id":…,"at":"…"}`，**不签名**（它是位置不是凭据），但服务端必须校验解出的字段类型。
    总数默认不返回；管理面可传 `?count=true` 额外触发一次 `COUNT(*)`，用户面不提供。

    ## 节点面的三条冻结不变量（§11.2）

    1. 路径 `/api/v1/server/UniProxy/{config,user,push,alive,alivelist,status}`
    2. 凭据的传输位置：`Authorization` 头（过渡期允许 query，见 §3.2.4）
    3. 响应的顶层形状：`config` 是裸对象、`user` 是 `{"users":[…]}`、`push`/`alive` 是 `{"data":true}`

    允许的演进只有「加 optional 字段」，且必须做到 v2node 忽略它也能正常工作。

    > ⚠️ 管理面（tag `admin`）的请求/响应形状是**清单不是契约**（api-contract.md §14）：
    > 后台前端框架未裁决前不冻结。节点面与订阅面则相反 —— 它们由 v2node 与客户端生态定义，改动即破坏兼容。
  contact:
    name: babel.plus
    url: https://github.com/oratis/babelplus
  license:
    name: UNLICENSED
    url: https://github.com/oratis/babelplus

servers:
  - url: https://api.babel.plus
    description: |
      用户面 / 订阅面 / 节点面 / 支付回调。实际是一个**独立主域名 + 备用池**
      （system-design §4.1），此处仅为占位。
  - url: https://console.babelplus-ops.com
    description: |
      管理面。必须是**另一个独立主域名** + IAP/IP 白名单（page-inventory §4.1），
      不能是 api 域名的子域。此处仅为占位。

tags:
  - name: node
    description: |
      **节点面 · 冻结契约。** `/api/v1/server/UniProxy/*`，与 v2board 1.7.4 / Xboard 的
      UniProxy 端点逐字段兼容。响应是**裸 JSON**，禁止统一信封。
      这份面的正确性不由本仓库代码定义，而由 v2node 的实际行为定义。
  - name: client
    description: |
      **订阅面 · 生态硬接口。** 按 `User-Agent` 分发 Clash YAML / sing-box JSON / base64。
      不改版、不套信封、不设 ETag。
  - name: user
    description: '**用户面 · 我们的设计。** access JWT（15 分钟）+ refresh（30 天一次性轮换），统一信封。'
  - name: admin
    description: '**管理面 · 我们的设计。** 独立主域名 + IAP/IP 白名单 + 强制 TOTP，统一信封，同事务写审计。'
  - name: internal
    description: '**内部面。** 调用方是 Cloud Tasks / Pub-Sub push / Cloud Scheduler，凭据是 Google OIDC ID token。'
  - name: system
    description: 探活与元信息。

security: []

paths:
  # 🔴 路径是 /-/healthz 而不是 /healthz：
  #    **Cloud Run 的 Google Frontend 会拦截 /healthz，请求根本到不了容器。**
  #    2026-08-17 实测：/healthz 返回 Google 的 HTML 404 页且 Cloud Run 请求日志里
  #    连一条记录都没有；而同一部署下未注册的 /healthzz 返回我们 chi 路由的
  #    "404 page not found"，已注册的 /api/v1/plans 正常走到鉴权中间件。
  #    三者的唯一差别就是路径字符串，证据见 evidence/cloudrun-healthz-intercept-20260817。
  /-/healthz:
    get:
      tags: [system]
      operationId: getHealthz
      summary: 探活
      description: 返回纯文本 `ok`。**不套信封**（§2.2 例外三），探活不需要 JSON。
      security: []
      responses:
        '200':
          description: 服务存活
          content:
            text/plain:
              schema:
                type: string
              example: ok
        '503':
          $ref: '#/components/responses/ErrDependencyDown'

  /api/v1/server/UniProxy/config:
    get:
      tags: [node]
      operationId: getUniProxyConfig
      summary: 节点自身配置（60 s 轮询，必须 ETag）
      description: |
        **冻结契约。** 响应是裸对象，字段照抄 Xboard `ServerService::buildNodeConfig()`，不改名、不改类型。

        - ETag 形状 `W/"<node_id>-c<config_rev>"`，只参与 `config_rev`；`/user` 用**不同的 ETag**，
          否则改配置会让用户列表也失效。
        - `If-None-Match` 用**弱比较**（RFC 9110 §8.8.3.2）；304 必须回带 `ETag` 与 `Cache-Control: no-cache`。
        - Go 侧手写比对，**不用 `http.ServeContent`**（它为文件设计，会引入 `Last-Modified` 与 Range 语义）。
        - `node_id` **从密钥推导**；请求里的 `node_id` 只用于日志与一致性检查，不一致返 403 `NODE_ID_MISMATCH`。
      security:
        - nodeKey: []
        - nodeKeyQueryTransitional: []
      x-required-scope: node:config:read
      parameters:
        - $ref: '#/components/parameters/NodeIdQuery'
        - $ref: '#/components/parameters/NodeTypeQuery'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: 节点配置（**裸 JSON，无信封**）
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoCache'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeConfig'
        '304':
          $ref: '#/components/responses/NodeNotModified'
        '401':
          $ref: '#/components/responses/NodeUnauthorized'
        '403':
          $ref: '#/components/responses/NodeForbidden'
        '429':
          $ref: '#/components/responses/NodeRateLimited'
        '500':
          $ref: '#/components/responses/NodeInternalError'

  /api/v2/server/config:
    get:
      tags: [node]
      operationId: getNodeConfigV2
      summary: 节点自身配置（v2node ≥ v0.4.0 实际请求的路径）
      description: |
        **与 `getUniProxyConfig` 是同一件事，响应逐字节相同。** 存在的唯一理由是实测：

        `wyx2685/v2node`（本项目选定的节点 agent，ADR 0006）自 **v0.4.0 起**把
        **且仅把**配置端点迁到了 `/api/v2/server/config`
        （`api/v2board/node.go:122` 的 `const path`），
        而 `/user` `/push` `/alive` `/alivelist` **四个仍留在 `/api/v1/server/UniProxy/*`**。
        它没有 `/status` 调用。

        🔴 **这条不一致是 2026-09-01 第一次真机装机时才发现的**，因为冻结契约抄的是
        **v2board 1.7.4 / Xboard**，而我们跑的是 v2node —— 两者在这一个端点上分了叉。
        失败形态极具误导性：v2node 拿到 Go 默认的 `404 page not found`，
        把它当 JSON 解析，报 `decode node params error: invalid character 'p' after top-level value`
        （`404` 是合法的顶层数字，后面的 `p` 才是报错点），**日志里完全看不出是路由不匹配**。

        响应结构无需改动：v2node 的 `CommonNode` 与本契约的 `NodeConfig` 字段逐个对得上，
        含 `tls_settings.xver` 是**字符串**这一条（`json:"xver,string"`）。
      security:
        - nodeKey: []
        - nodeKeyQueryTransitional: []
      x-required-scope: node:config:read
      parameters:
        - $ref: '#/components/parameters/NodeIdQuery'
        - $ref: '#/components/parameters/NodeTypeQuery'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: 节点配置（**裸 JSON，无信封**），与 `getUniProxyConfig` 相同
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoCache'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeConfig'
        '304':
          $ref: '#/components/responses/NodeNotModified'
        '401':
          $ref: '#/components/responses/NodeUnauthorized'
        '403':
          $ref: '#/components/responses/NodeForbidden'
        '429':
          $ref: '#/components/responses/NodeRateLimited'
        '500':
          $ref: '#/components/responses/NodeInternalError'

  /api/v1/server/UniProxy/user:
    get:
      tags: [node]
      operationId: getUniProxyUsers
      summary: 该节点可见的用户列表（60 s 轮询，必须 ETag）
      description: |
        **冻结契约。** 顶层形状固定为 `{"users":[…]}`。

        可用用户判定（照抄 Xboard `getAvailableUsers`）：
        `u + d < transfer_enable AND (expired_at IS NULL OR expired_at > now()) AND NOT banned
        AND group_id ∈ servers.group_ids`。`expired_at IS NULL` 天然支撑「不限时套餐」。

        ETag 形状 `W/"<node_id>-u<user_rev>"`，只参与 `user_rev`。bump 规则四条见 api-contract.md §3.8：
        改变可见用户集合的写操作 bump；**流量累加不 bump**；**跨过 `transfer_enable` 阈值必须 bump**；
        **`expired_at` 到点必须由 `/internal/tasks/expire-check` bump**。
      security:
        - nodeKey: []
        - nodeKeyQueryTransitional: []
      x-required-scope: node:users:read
      parameters:
        - $ref: '#/components/parameters/NodeIdQuery'
        - $ref: '#/components/parameters/NodeTypeQuery'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: 用户列表（**裸 JSON，无信封**）
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoCache'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeUserList'
        '304':
          $ref: '#/components/responses/NodeNotModified'
        '401':
          $ref: '#/components/responses/NodeUnauthorized'
        '403':
          $ref: '#/components/responses/NodeForbidden'
        '429':
          $ref: '#/components/responses/NodeRateLimited'
        '500':
          $ref: '#/components/responses/NodeInternalError'

  /api/v1/server/UniProxy/push:
    post:
      tags: [node]
      operationId: pushUniProxyTraffic
      summary: 流量上报（增量字节）
      description: |
        **冻结契约。** 请求体是 `{uid: [upload, download]}` 形状的 map，值是**增量字节**，不是累计值。

        - key 是用户 id 的**字符串**（JSON 对象键必然是字符串），对应 `/user` 返回的 `id`
        - value 是长度**恰为 2** 的非负整数数组 `[upload, download]`
        - **不做任何倍率折算，原样上报原始字节**
        - 非「长度 2 的数值数组」的条目**静默丢弃，不让整批失败**（照抄 Xboard `processTraffic()`），丢弃计数进 metric

        **响应时间预算 < 50 ms**：请求路径上只做「INSERT traffic_batch」+「enqueue Cloud Tasks」两件事，
        累加、聚合、阈值判定全部在 `/internal/tasks/traffic-batch` 侧做。
        `/push` 越慢，v2node 超时重试的概率越高，而**节点侧重试无法幂等**（§9.2）。
      security:
        - nodeKey: []
        - nodeKeyQueryTransitional: []
      x-required-scope: node:traffic:write
      parameters:
        - $ref: '#/components/parameters/NodeIdQuery'
        - $ref: '#/components/parameters/NodeTypeQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeTrafficPushRequest'
            example:
              '1': [10485760, 52428800]
              '7': [1024, 8192]
              '19': [0, 314572800]
      responses:
        '200':
          $ref: '#/components/responses/NodeAck'
        '400':
          $ref: '#/components/responses/NodeBadRequest'
        '401':
          $ref: '#/components/responses/NodeUnauthorized'
        '403':
          $ref: '#/components/responses/NodeForbidden'
        '429':
          $ref: '#/components/responses/NodeRateLimited'
        '500':
          $ref: '#/components/responses/NodeInternalError'

  /api/v1/server/UniProxy/alive:
    post:
      tags: [node]
      operationId: pushUniProxyAlive
      summary: 在线设备上报（按 IP，不是按设备）
      description: |
        **冻结契约。** 请求体是 `{uid: [ip, …]}`，写入 ADR 0005 §8 裁定的 `UNLOGGED` 表 `user_alive`
        （`ON CONFLICT (user_id, node_id, device_ip) DO UPDATE SET seen_at = now()`），
        清理由 `/internal/tasks/alive-gc` 每 5 分钟做。

        > ⚠️ **口径必须原样承认**：这是**按 IP** 计，不是按设备计。同一台手机在 Wi-Fi 与蜂窝之间切换会占两个名额。
        > 契约层面只能照抄（v2node 只上报 IP），因此 page-inventory §3.2.3 要求把口径写在页面上，
        > 并提供用户自助「踢下线」。
      security:
        - nodeKey: []
        - nodeKeyQueryTransitional: []
      x-required-scope: node:alive:write
      parameters:
        - $ref: '#/components/parameters/NodeIdQuery'
        - $ref: '#/components/parameters/NodeTypeQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeAlivePushRequest'
            example:
              '1': ['203.0.113.7', '198.51.100.42']
              '7': ['203.0.113.99']
      responses:
        '200':
          $ref: '#/components/responses/NodeAck'
        '400':
          $ref: '#/components/responses/NodeBadRequest'
        '401':
          $ref: '#/components/responses/NodeUnauthorized'
        '403':
          $ref: '#/components/responses/NodeForbidden'
        '429':
          $ref: '#/components/responses/NodeRateLimited'
        '500':
          $ref: '#/components/responses/NodeInternalError'

  /api/v1/server/UniProxy/alivelist:
    get:
      tags: [node]
      operationId: getUniProxyAliveList
      summary: 全网在线计数（多节点共享设备数限制的唯一机制）
      description: |
        **冻结契约。** 响应只含 `device_limit > 0` 的用户。节点先拉全网计数，再本地决策是否放行新连接。

        > ⚠️ **拒新还是踢旧是 v2node 的本地行为，我们无法通过契约控制**，而 user-journey §12.2
        > 要求的是「拒新不踢旧」—— **v2node 的实际行为待核实**。
        > Xboard 的 `alivelist` 究竟按 IP 还是按连接计数，同样**待核实**。
      security:
        - nodeKey: []
        - nodeKeyQueryTransitional: []
      x-required-scope: node:alive:read
      parameters:
        - $ref: '#/components/parameters/NodeIdQuery'
        - $ref: '#/components/parameters/NodeTypeQuery'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: 在线计数（**裸 JSON，无信封**）
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Cache-Control:
              $ref: '#/components/headers/CacheControlNoCache'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeAliveList'
        '304':
          $ref: '#/components/responses/NodeNotModified'
        '401':
          $ref: '#/components/responses/NodeUnauthorized'
        '403':
          $ref: '#/components/responses/NodeForbidden'
        '429':
          $ref: '#/components/responses/NodeRateLimited'
        '500':
          $ref: '#/components/responses/NodeInternalError'

  /api/v1/server/UniProxy/status:
    post:
      tags: [node]
      operationId: pushUniProxyStatus
      summary: 节点负载快照（只写快照，不建历史表）
      description: |
        **冻结契约。** 校验规则与 Xboard 一致：`cpu` 为 `numeric` 且 `0 ≤ cpu ≤ 100`；其余六个为 `integer` 且 `≥ 0`。
        **`cpu` 是本 spec 里唯一允许的浮点字段**（§2.6）。

        **裁决：只写快照。** 落 `servers.load_status jsonb` + `servers.last_status_at`，一节点一行，被覆盖。
        8 节点 × 1440 次/天 = 11,520 行/天的负载历史对本项目规模没有决策价值，而 ADR 0005 的 10 GB SSD 要付钱。
        需要趋势时接 Cloud Monitoring，不自建时序表。
      security:
        - nodeKey: []
        - nodeKeyQueryTransitional: []
      x-required-scope: node:status:write
      parameters:
        - $ref: '#/components/parameters/NodeIdQuery'
        - $ref: '#/components/parameters/NodeTypeQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeStatusReport'
            example:
              cpu: 12.3
              mem: { total: 2074152960, used: 812345344 }
              swap: { total: 0, used: 0 }
              disk: { total: 10434699264, used: 3221225472 }
      responses:
        '200':
          $ref: '#/components/responses/NodeAck'
        '400':
          $ref: '#/components/responses/NodeBadRequest'
        '401':
          $ref: '#/components/responses/NodeUnauthorized'
        '403':
          $ref: '#/components/responses/NodeForbidden'
        '429':
          $ref: '#/components/responses/NodeRateLimited'
        '500':
          $ref: '#/components/responses/NodeInternalError'

  /api/v1/client/subscribe:
    get:
      tags: [client]
      operationId: getClientSubscription
      summary: 订阅下发（与 Xboard 同形的长路径）
      description: |
        与 Xboard 同形，方便从竞品/旧配置迁移。与 `GET /s/{token}` 走**完全相同的 handler 与鉴权链**。

        token 校验：长度/字符集不合法 → 直接 404 不查库；`sha256(token)` 查 `sub_tokens`；
        未找到 / `revoked_at IS NOT NULL` / `issued_at < users.sub_revoked_at` → **一律 404，不是 403**
        （403 会告诉攻击者「这个 token 存在但你不能用」）。
        每次拉取**同步**写审计表 `subscribe_log(user_id, sub_token_id, request_ip, user_agent, request_at)`。

        到期 / 配额耗尽 / 封禁 → **200 + 空节点列表 + 伪节点**（订阅 URL 本身就是通知通道，user-journey §11.2）。

        **不设 `ETag`**：订阅内容内嵌当前用量数字，每次都在变；更要紧的是 304 会让客户端继续显示旧的流量条。
      security: []
      parameters:
        - $ref: '#/components/parameters/SubscribeTokenQuery'
        - $ref: '#/components/parameters/SubscribeFlagQuery'
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionPayload'
        '404':
          # ⚠️ 这里刻意**内联**而不是 $ref 到 components/responses/SubscriptionNotFound。
          # oapi-codegen 对 $ref 的 text/plain 响应会生成一个嵌入结构体，
          # 然后在 visitor 里执行 []byte(response) —— 结构体转 []byte，编译不过。
          # 根因是 oapi-codegen 尚未完整支持 OpenAPI 3.1（上游 issue #373）。
          # 内联后生成 `type ...404TextResponse string`，正常工作。
          # 上游修复后可以改回 $ref，届时删掉这段注释。
          description: |
            **token 不存在 / 已吊销 / `issued_at < users.sub_revoked_at` —— 一律 404，不是 403。**
            403 会告诉攻击者「这个 token 存在但你不能用」（ADR 0006 §10.2）。

            注意：**banned / 到期 / 配额耗尽不走这里**，它们是 200 + 空列表 + 伪节点。
          content:
            text/plain:
              schema:
                type: string
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /s/{token}:
    get:
      tags: [client]
      operationId: getShortSubscription
      summary: 订阅下发（短路径，**默认对外发这一条**）
      description: |
        短、无 query、不易被聊天软件截断 —— 默认对外发这一条。
        与 `GET /api/v1/client/subscribe` 走完全相同的 handler 与鉴权链，语义见该端点。
      security: []
      parameters:
        - $ref: '#/components/parameters/SubscribeTokenPath'
        - $ref: '#/components/parameters/SubscribeFlagQuery'
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionPayload'
        '404':
          # ⚠️ 这里刻意**内联**而不是 $ref 到 components/responses/SubscriptionNotFound。
          # oapi-codegen 对 $ref 的 text/plain 响应会生成一个嵌入结构体，
          # 然后在 visitor 里执行 []byte(response) —— 结构体转 []byte，编译不过。
          # 根因是 oapi-codegen 尚未完整支持 OpenAPI 3.1（上游 issue #373）。
          # 内联后生成 `type ...404TextResponse string`，正常工作。
          # 上游修复后可以改回 $ref，届时删掉这段注释。
          description: |
            **token 不存在 / 已吊销 / `issued_at < users.sub_revoked_at` —— 一律 404，不是 403。**
            403 会告诉攻击者「这个 token 存在但你不能用」（ADR 0006 §10.2）。

            注意：**banned / 到期 / 配额耗尽不走这里**，它们是 200 + 空列表 + 伪节点。
          content:
            text/plain:
              schema:
                type: string
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/auth/register:
    post:
      tags: [user]
      operationId: registerAccount
      summary: 注册（邀请码必填）
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: 注册成功，直接返回会话
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/SessionTokens'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          $ref: '#/components/responses/ErrBadRequest'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/auth/email-code:
    post:
      tags: [user]
      operationId: sendEmailCode
      summary: 发送邮件验证码（兼「失联生命线」送达率探针）
      description: |
        user-journey §1 把注册验证码定为「失联生命线的免费持续压测」。依 ADR 0002，邮件是唯一失联恢复通道，
        **收不到验证码的用户就是封锁当天必然失联的用户**。

        因此每次发码必须写一条 `email_probe(recipient_domain, esp, bounce_code, sent_at, delivered_at)`，
        按收件域名分组统计，直接充当 ADR 0002 §7 要求的送达率实测数据源。
        **这不是附带功能，是这个端点存在的第二个理由。**

        限流：per email 3/h，且同一邮箱两次间隔 ≥ 60 s（走 Postgres 精确档，§10.2）。
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCodeRequest'
      responses:
        '204':
          description: 已受理（**无论邮箱是否已注册都返回 204**，防枚举）
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/auth/login:
    post:
      tags: [user]
      operationId: login
      summary: 登录
      description: |
        失败统一返回 401 `AUTH_INVALID_CREDENTIALS`，**message 统一为「邮箱或密码不正确」，不区分哪个错**。
        限流 per IP + per email 双维度：5/min 且 10/h，指数退避（Postgres 精确档）。
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/SessionTokens'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/auth/refresh:
    post:
      tags: [user]
      operationId: refreshToken
      summary: 刷新会话（refresh 一次性轮换）
      description: 旧 refresh 立即失效。复用已轮换的 refresh → 401 `AUTH_TOKEN_INVALID`。
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: 新会话
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/SessionTokens'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/auth/logout:
    post:
      tags: [user]
      operationId: logout
      summary: 登出（吊销当前 refresh）
      security:
        - userSession: []
      responses:
        '204':
          description: 已登出
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/auth/password/forgot:
    post:
      tags: [user]
      operationId: forgotPassword
      summary: 忘记密码
      description: |
        **无论邮箱是否存在都返回 204**（防枚举）。
        限流 per email 3/h（超限仍返回 204，保持防枚举）、per IP 10/h（超限 429）。
        单列限额的理由：它**消耗邮件配额**，AWS SES 退信率 ≥ 5% 进入审查、≥ 10% 可能暂停发信。
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '204':
          description: 已受理（不泄漏邮箱是否存在）
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/auth/password/reset:
    post:
      tags: [user]
      operationId: resetPassword
      summary: 用重置令牌设置新密码
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '204':
          description: 已重置，所有会话失效
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/invite/verify:
    get:
      tags: [user]
      operationId: verifyInviteCode
      summary: 校验邀请码
      description: 必须区分「无效」与「已用尽」两种结果 —— 两者的用户动作完全不同。
      security: []
      parameters:
        - name: code
          in: query
          required: true
          description: 邀请码
          schema:
            type: string
            minLength: 4
            maxLength: 32
      responses:
        '200':
          description: 校验结果
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/InviteVerifyResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/me:
    get:
      tags: [user]
      operationId: getCurrentUser
      summary: 当前用户信息 + 订阅摘要
      security:
        - userSession: []
      responses:
        '200':
          description: 用户信息
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/CurrentUser'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/password:
    put:
      tags: [user]
      operationId: changePassword
      summary: 修改密码（需旧密码）
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '204':
          description: 已修改，其余会话失效
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/notification-prefs:
    get:
      tags: [user]
      operationId: getNotificationPrefs
      summary: 通知偏好
      security:
        - userSession: []
      responses:
        '200':
          description: 通知偏好
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/NotificationPrefs'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'
    put:
      tags: [user]
      operationId: updateNotificationPrefs
      summary: 修改通知偏好
      description: |
        **`service_broadcast` 是只读的 `true`，请求体里根本没有这个字段。**
        若客户端硬塞该字段 → 422 `VALIDATION_FAILED`。

        依据是 user-journey 的裁决：到期提醒 / 流量提醒两个开关抄竞品可以，
        但**生命线不能被用户关掉**。把它做成「前端隐藏的开关」是不够的 ——
        它必须在 API 层就不可写，否则总有一天会有人把它做成可写的。
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPrefsUpdate'
      responses:
        '200':
          description: 修改后的通知偏好
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/NotificationPrefs'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/2fa/enroll:
    post:
      tags: [user]
      operationId: enrollUserTotp
      summary: 用户侧 TOTP 绑定第一步（P3）
      description: '**P3，未实现。** 服务端返回 `501` 直到实现完成。'
      security:
        - userSession: []
      responses:
        '200':
          description: TOTP 绑定材料（明文 secret 只在此出现一次）
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/TotpEnrollment'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/2fa/verify:
    post:
      tags: [user]
      operationId: verifyUserTotp
      summary: 用户侧 TOTP 绑定第二步（P3）
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TotpCodeRequest'
      responses:
        '204':
          description: 已绑定
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/2fa:
    delete:
      tags: [user]
      operationId: disableUserTotp
      summary: 解绑用户侧 TOTP（P3）
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TotpCodeHeader'
      responses:
        '204':
          description: 已解绑
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/subscription:
    get:
      tags: [user]
      operationId: getUserSubscription
      summary: 订阅链接 + 用量 + 到期 + 设备计数
      security:
        - userSession: []
      responses:
        '200':
          description: 订阅概览
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/UserSubscription'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/subscription/tokens:
    get:
      tags: [user]
      operationId: listSubscriptionTokens
      summary: 订阅 token 列表（可多条、可命名、可单独吊销）
      description: |
        订阅 token 独立成表 `sub_tokens`，**DB 只存 `sha256` 哈希不存明文**
        （相对 Xboard `v2_user.token char(32)` 明文的加固之一）。

        > ⚠️ **未裁决**（api-contract.md §14）：存哈希之后面板怎么给用户看明文链接 ——
        > 「加密副本（Secret Manager KEK）」还是「只在签发时返回一次」两条路都没定。
        > 本 spec 按后者写：`token` 明文只在 `createSubscriptionToken` 的响应里出现一次，
        > 列表里只有 `masked`。
      security:
        - userSession: []
      responses:
        '200':
          description: token 列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionToken'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'
    post:
      tags: [user]
      operationId: createSubscriptionToken
      summary: 签发新订阅 token（**明文只在此响应里出现一次**）
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionTokenCreateRequest'
      responses:
        '201':
          description: 已签发
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionTokenCreated'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/subscription/tokens/{id}:
    delete:
      tags: [user]
      operationId: revokeSubscriptionToken
      summary: 吊销单条订阅 token（该设备需重导）
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: 已吊销
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/subscription/revoke-all:
    post:
      tags: [user]
      operationId: revokeAllSubscriptionTokens
      summary: 一键全撤（置 `sub_revoked_at = now()`，所有设备重导）
      description: Marzban 语义：`issued_at < users.sub_revoked_at` 的 token 一律 404。
      security:
        - userSession: []
      responses:
        '200':
          description: 已全撤
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/RevokeAllResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/subscription/fetch-log:
    get:
      tags: [user]
      operationId: listSubscriptionFetchLog
      summary: 最近拉取审计（时间 / IP / UA）
      description: 每次订阅拉取都**同步**写审计（不异步 —— 异步引入的是「审计缺失且无人知道」这类最坏的失败模式）。
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: 拉取审计（默认 10 条）
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionFetchLogEntry'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/devices:
    get:
      tags: [user]
      operationId: listUserDevices
      summary: 在线设备（来自 `user_alive` UNLOGGED 表）
      description: '⚠️ 口径是**按 IP** 不是按设备，见 `pushUniProxyAlive`。页面上必须写明这一点。'
      security:
        - userSession: []
      responses:
        '200':
          description: 在线设备列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDevice'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'
    delete:
      tags: [user]
      operationId: kickAllUserDevices
      summary: 全部下线
      description: |
        响应**必须携带生效延迟提示** `effective_within_seconds`。
        理由：配置下发是 60 秒轮询，「全部下线」不是即时的。
        user-journey §12.2 明确要求告知用户这一点，否则用户会连点五次然后开工单。
      security:
        - userSession: []
      responses:
        '200':
          description: 已下线（含生效延迟提示）
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/KickDevicesResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/devices/{id}:
    delete:
      tags: [user]
      operationId: kickUserDevice
      summary: 踢单个设备下线
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: 已下线（含生效延迟提示）
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/KickDevicesResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/usage:
    get:
      tags: [user]
      operationId: getUserUsage
      summary: 用量曲线（P2，依赖 30 天数据积累）
      security:
        - userSession: []
      parameters:
        - name: range
          in: query
          required: false
          description: 时间窗口
          schema:
            type: string
            enum: [7d, 30d, 90d]
            default: 30d
      responses:
        '200':
          description: 用量曲线
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/UsageSeries'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/nodes:
    get:
      tags: [user]
      operationId: listUserNodes
      summary: 节点列表（P2，客户端里本来就有）
      security:
        - userSession: []
      responses:
        '200':
          description: 节点列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserNode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/diagnose:
    get:
      tags: [user]
      operationId: getUserDiagnose
      summary: 账号侧四项自检（P2）
      description: |
        四项检查覆盖「能拉到订阅但连不上」的绝大多数成因，而这四项用户在客户端里一个都看不到。

        **`data_delay_note` 不是装饰。** user-journey 记录了流量数字有三个天然不一致的口径
        （面板 / 客户端 `subscription-userinfo` / 邮件快照）。不写这一句，
        必然有用户拿客户端的数字质问面板的数字。
      security:
        - userSession: []
      responses:
        '200':
          description: 自检结果
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/DiagnoseResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/plans:
    get:
      tags: [user]
      operationId: listPlans
      summary: 套餐列表（周期套餐 + 流量包两类）
      security:
        - userSession: []
      responses:
        '200':
          description: 套餐列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plan'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/orders:
    get:
      tags: [user]
      operationId: listOrders
      summary: 订单列表
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: 订单列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'
    post:
      tags: [user]
      operationId: createOrder
      summary: 下单（锁定汇率，**需 `Idempotency-Key`**）
      description: |
        幂等：`Idempotency-Key` 头（客户端生成 UUID）。载荷相同 → 返回原结果；
        载荷不同 → 409 `STATE_IDEMPOTENCY_MISMATCH`。
        存储 `idempotency_keys(key, user_id, request_hash, response_status, response_body, created_at)`，
        TTL 24 小时，`(key, user_id)` 唯一。

        > ⚠️ **`surplus_amount`（升级折抵）现在没有契约**（api-contract.md §14）：
        > user-journey 只定了呈现口径（三行：原套餐剩余价值 / 新套餐价 / 实付），
        > 算法（按剩余天数还是剩余流量）**未裁决**。
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: 已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/orders/{trade_no}:
    get:
      tags: [user]
      operationId: getOrder
      summary: 订单详情
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
      responses:
        '200':
          description: 订单详情
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/orders/{trade_no}/cancel:
    post:
      tags: [user]
      operationId: cancelOrder
      summary: 取消订单（仅 `pending` 可取消）
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
      responses:
        '200':
          description: 已取消
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/orders/{trade_no}/pay:
    post:
      tags: [user]
      operationId: payOrder
      summary: 发起支付，返回收银台数据（**需 `Idempotency-Key`**）
      description: |
        USDT 路径的三条硬约束：

        1. **`amount_usdt6` 的末位是订单识别码。** pricing-and-plans §4.2 裁定用「小地址池 + 金额唯一性」
           （抄 EPUSDT：冲突则 `+0.0001` 递增重试，最多 100 次）。`+0.0001 USDT = +100 usdt6`。
           `note` 字段的存在是因为 user-journey 列出的七个卡点里**第三个就是「四位小数尾数像诈骗」** ——
           不解释这个尾数，用户会停在这一步。
        2. **`state` 的取值必须含 `underpaid`**（少付一定会发生，提币手续费从转出额扣是头号成因）。
           `underpaid` 时额外带 `shortfall_usdt6`，前端显示「已收到 X，还差 Y」而不是笼统的「支付失败」。
        3. **`confirmations_required` 必须可配置下发，不能硬编码在前端。**
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayOrderRequest'
      responses:
        '200':
          description: 收银台数据
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/PaymentCheckout'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'
        '503':
          $ref: '#/components/responses/ErrDependencyDown'

  /api/v1/orders/{trade_no}/payment:
    get:
      tags: [user]
      operationId: getOrderPayment
      summary: 收银台状态轮询（含 `underpaid` 差额）
      description: '`PAYMENT_UNDERPAID` **不是错误**，是订单状态 —— 它走 200 而不是错误通道。'
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
      responses:
        '200':
          description: 收银台状态
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/PaymentCheckout'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/orders/{trade_no}/recheck:
    post:
      tags: [user]
      operationId: recheckOrderPayment
      summary: 「我已付款，帮我查一下」—— 触发主动查单
      description: |
        page-inventory 称它为「用户侧的最后防线」。与支付回调走同一条逻辑：
        **回调不可信 → 收到回调后必须反向查单**（pricing-and-plans §4.1 记录了 NewAPI 易支付回调漏洞的先例）。
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
      responses:
        '200':
          description: 查单后的最新状态
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/PaymentCheckout'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'
        '503':
          $ref: '#/components/responses/ErrDependencyDown'

  /api/v1/coupons/verify:
    post:
      tags: [user]
      operationId: verifyCoupon
      summary: 优惠码校验（**不核销**）
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponVerifyRequest'
      responses:
        '200':
          description: 校验结果
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/CouponVerifyResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/payment/notify/{provider}:
    post:
      tags: [user]
      operationId: handlePaymentNotify
      summary: 支付回调（**公开端点，验签**）
      description: |
        幂等键是 `(provider, external_id)` 上的**唯一索引**，不是应用层的 `SELECT … IF NOT EXISTS`
        （后者在两个 Cloud Run 实例并发处理同一次重投时会双双通过）。重复投递静默返回 200，**不重复入账**。

        验签失败 → 401 `PAYMENT_SIGNATURE_INVALID`。
        **收到回调后必须反向查单**，以网关/链上的权威金额为准。
        开通是**一个事务**：写配额 + 写到期 + 改状态 + bump `user_rev` ——
        少 bump 一次，用户付了钱但节点在下个 `user_rev` 变更前都看不到他。

        订单 `expires_at` 到点后状态转 `expired`，**但该收款地址必须继续监听 ≥ 24 小时**；
        期间到账的资金**入账为余额，不直接开通订阅**（余额仅可消费不可提现，资金合规上安全）。
        **不做这一条，用户第一次付款的钱就真的进黑洞。**

        响应体形状由各网关决定（多数要求纯文本 `success`），因此这里不套信封。
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          description: 支付网关标识
          schema:
            type: string
            pattern: '^[a-z0-9_]{2,32}$'
      requestBody:
        required: true
        description: 网关自定义载荷，形状由各网关决定，服务端只信验签后的字段。
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 已受理（网关多数要求纯文本 `success`）
          content:
            text/plain:
              schema:
                type: string
              example: success
        '400':
          $ref: '#/components/responses/ErrBadRequest'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/tickets:
    get:
      tags: [user]
      operationId: listTickets
      summary: 工单列表
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: 工单列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'
    post:
      tags: [user]
      operationId: createTicket
      summary: 新建工单（必带 `category` + 自动采集的诊断快照）
      description: |
        **`context` 由服务端在建单时重新采集并覆盖客户端提交的值。**
        客户端传的那份只作为「客户端自己看到的状态」存进 `context.client_reported`。
        理由：工单记录的是「报障当时的事实」，而客户端的自述可能已经过时或被篡改。
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketRequest'
      responses:
        '201':
          description: 已建单
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/tickets/{public_id}:
    get:
      tags: [user]
      operationId: getTicket
      summary: 工单会话
      description: |
        ⚠️ `ticket_messages.is_internal` 是全系统最容易出安全事故的一列。
        **用户侧查询必须走固定带 `is_internal = false` 的视图或方法，不接受调用方传参决定。**
        在 spec 层面：`TicketMessage` **不包含** `is_internal` 字段，
        让「泄漏内部备注」在生成的类型上就不可表达。
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TicketPublicIdPath'
      responses:
        '200':
          description: 工单会话（只含 `is_internal = false` 的消息）
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/TicketDetail'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/tickets/{public_id}/messages:
    post:
      tags: [user]
      operationId: createTicketMessage
      summary: 回复工单
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TicketPublicIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketMessageRequest'
      responses:
        '201':
          description: 已回复
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/TicketMessage'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/tickets/{public_id}/close:
    post:
      tags: [user]
      operationId: closeTicket
      summary: 关闭工单
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/TicketPublicIdPath'
      responses:
        '200':
          description: 已关闭
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/notices:
    get:
      tags: [user]
      operationId: listNotices
      summary: 公告（dashboard 取 3 条，`/notice` 取全部）
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: 公告列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notice'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/invite/codes:
    get:
      tags: [user]
      operationId: listInviteCodes
      summary: 我的邀请码
      security:
        - userSession: []
      responses:
        '200':
          description: 邀请码列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InviteCode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'
    post:
      tags: [user]
      operationId: createInviteCode
      summary: 生成邀请码
      security:
        - userSession: []
      responses:
        '201':
          description: 已生成
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/InviteCode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/commissions:
    get:
      tags: [user]
      operationId: listCommissions
      summary: 佣金记录（`确认中` / `已获得` 两段式）
      description: |
        > ⚠️ **未设计**（api-contract.md §14）：佣金结算的状态机端点 ——
        > 「确认中 → 已获得」的转换由谁触发、冷静期多长，都没有裁决。
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: 佣金记录
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Commission'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/commissions/transfer:
    post:
      tags: [user]
      operationId: transferCommission
      summary: 佣金划转到余额（**不可提现**）
      security:
        - userSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommissionTransferRequest'
      responses:
        '200':
          description: 已划转
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Wallet'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/wallet:
    get:
      tags: [user]
      operationId: getWallet
      summary: 余额概览
      security:
        - userSession: []
      responses:
        '200':
          description: 余额
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Wallet'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/user/wallet/transactions:
    get:
      tags: [user]
      operationId: listWalletTransactions
      summary: 余额流水
      security:
        - userSession: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          description: 余额流水
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletTransaction'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/ErrUnauthorized'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/dashboard:
    get:
      tags: [admin]
      operationId: getAdminDashboard
      summary: 运营看板（模块 1）
      security:
        - adminSession: []
          adminIap: []
      responses:
        '200':
          description: 看板数据
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminDashboard'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/users:
    get:
      tags: [admin]
      operationId: listAdminUsers
      summary: 用户列表（模块 2）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
        - $ref: '#/components/parameters/CountQuery'
        - $ref: '#/components/parameters/SearchQuery'
      responses:
        '200':
          description: 用户列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUser'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/users/{id}:
    get:
      tags: [admin]
      operationId: getAdminUser
      summary: 用户详情
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: 用户详情
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'
    patch:
      tags: [admin]
      operationId: updateAdminUser
      summary: 编辑用户（**D1：L2 必填原因**）
      description: '`reason` 长度 ≥ 8 字符，与业务写入**同事务**进 `admin_audit_log`。'
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserPatch'
      responses:
        '200':
          description: 已更新
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/users/{id}/ban:
    post:
      tags: [admin]
      operationId: banAdminUser
      summary: 封禁用户（**D2：L2 必填原因**）
      description: '⚠️ 生效延迟：节点 60 秒轮询，封禁最长 60 秒后才在节点侧生效 —— 60 秒足够完成一次滥用行为。'
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: 已封禁
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/users/{id}/unban:
    post:
      tags: [admin]
      operationId: unbanAdminUser
      summary: 解封用户（**D2：L2 必填原因**）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: 已解封
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminUser'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/users/{id}/revoke-subs:
    post:
      tags: [admin]
      operationId: revokeAdminUserSubscriptions
      summary: 吊销该用户全部订阅 token（**D3：L1 确认串 + L2 原因 + L3 TOTP**）
      description: |
        `confirmation` 必须等于该用户的 `email`，服务端**自己查出目标标识串**后常数时间比对，不一致 → 422。
        **L1 必须在 API 层，不能在前端** —— 前端的确认弹窗对一个直接 `curl` 的人是零。
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - $ref: '#/components/parameters/TotpCodeHeaderRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmedReasonRequest'
      responses:
        '200':
          description: 已吊销
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/RevokeAllResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/users/export:
    post:
      tags: [admin]
      operationId: exportAdminUsers
      summary: 导出用户（**D14：L4 独立权限位 `admin.user.export`，默认不授予**）
      description: 限流 5/h（Postgres 精确档）。异步生成，返回任务句柄。
      security:
        - adminSession: []
          adminIap: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '202':
          description: 已受理，异步生成
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/ExportJob'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/users/{id}/balance-adjust:
    post:
      tags: [admin]
      operationId: adjustAdminUserBalance
      summary: 调整用户余额（**D10：L1 + L2 + L3**）
      description: '`confirmation` 必须等于该用户的 `email`；`amount` 单位是**分**，可为负。'
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - $ref: '#/components/parameters/TotpCodeHeaderRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceAdjustRequest'
      responses:
        '200':
          description: 已调整
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Wallet'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/orders:
    get:
      tags: [admin]
      operationId: listAdminOrders
      summary: 订单列表（模块 3）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
        - $ref: '#/components/parameters/CountQuery'
        - $ref: '#/components/parameters/SearchQuery'
      responses:
        '200':
          description: 订单列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminOrder'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/orders/{trade_no}:
    get:
      tags: [admin]
      operationId: getAdminOrder
      summary: 订单详情
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
      responses:
        '200':
          description: 订单详情
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminOrder'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/orders/{trade_no}/mark-paid:
    post:
      tags: [admin]
      operationId: markAdminOrderPaid
      summary: 手工标记订单已支付（**D6 · 全系统最大的内部欺诈面，四层全开**）
      description: |
        四层强制**全部**适用：

        - **L1** `confirmation` 必须等于订单所属用户的邮箱（服务端自查后常数时间比对）
        - **L2** `reason` ≥ 8 字符
        - **L3** `X-TOTP-Code` 必须有效且未被用过（同一 code 5 分钟内只能用一次，需 `used_totp` 表防重放）
        - **L4** 调用者必须持有 `admin.order.mark_paid` 权限位，**默认不授予，即使团队只有一个人**

        审计日志记 `before`/`after` 的完整订单状态 + `evidence_url`，与业务写入同事务。

        > **这个权限位必须从第一天就存在，即使团队只有一个角色。**
        > 一个「等有第二个人再加权限系统」的计划，在有第二个人的那天已经来不及了。
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
        - $ref: '#/components/parameters/TotpCodeHeaderRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkPaidRequest'
            example:
              confirmation: user@example.com
              reason: 链上 txid 7f3a… 已确认到账，网关回调丢失，人工补单
              evidence_url: https://tronscan.org/#/transaction/7f3a
      responses:
        '200':
          description: 已标记
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminOrder'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/orders/{trade_no}/refund:
    post:
      tags: [admin]
      operationId: refundAdminOrder
      summary: 退款（**D7：L2 必填原因**）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/TradeNoPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: 已退款
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminOrder'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/plans:
    get:
      tags: [admin]
      operationId: listAdminPlans
      summary: 套餐列表（模块 4）
      security:
        - adminSession: []
          adminIap: []
      responses:
        '200':
          description: 套餐列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plan'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'
    post:
      tags: [admin]
      operationId: createAdminPlan
      summary: 新建套餐（**D8**）
      security:
        - adminSession: []
          adminIap: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpsert'
      responses:
        '201':
          description: 已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Plan'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/plans/{id}:
    patch:
      tags: [admin]
      operationId: updateAdminPlan
      summary: 编辑套餐（**D8**）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpsert'
      responses:
        '200':
          description: 已更新
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Plan'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'
    delete:
      tags: [admin]
      operationId: deleteAdminPlan
      summary: 删除套餐（**D8**）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: 已删除
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/nodes:
    get:
      tags: [admin]
      operationId: listAdminNodes
      summary: 节点列表（模块 5）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
        - $ref: '#/components/parameters/CountQuery'
      responses:
        '200':
          description: 节点列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminNode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'
    post:
      tags: [admin]
      operationId: createAdminNode
      summary: 新建节点（**D9**）
      description: '新建 GCP 资源一律 `bp-` 前缀 + `bp-node` 网络标签（AGENTS.md §4）。'
      security:
        - adminSession: []
          adminIap: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminNodeUpsert'
      responses:
        '201':
          description: 已创建
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminNode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/nodes/{id}:
    get:
      tags: [admin]
      operationId: getAdminNode
      summary: 节点详情（含 `load_status` 快照）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: 节点详情
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminNode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'
    patch:
      tags: [admin]
      operationId: updateAdminNode
      summary: 编辑节点（**D9**，写操作会 bump `config_rev`）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminNodeUpsert'
      responses:
        '200':
          description: 已更新
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminNode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'
    delete:
      tags: [admin]
      operationId: deleteAdminNode
      summary: 删除节点（**D4：L1 确认串**）
      description: '`confirmation` 必须等于该节点的 `name`。'
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmedReasonRequest'
      responses:
        '204':
          description: 已删除
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/nodes/{id}/enable:
    post:
      tags: [admin]
      operationId: enableAdminNode
      summary: 启用节点
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: 已启用
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminNode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/nodes/{id}/disable:
    post:
      tags: [admin]
      operationId: disableAdminNode
      summary: 停用节点
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: 已停用
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminNode'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/nodes/{id}/keys:
    get:
      tags: [admin]
      operationId: listAdminNodeKeys
      summary: 节点密钥列表（模块 6）
      description: |
        一个节点可同时持有**多把有效密钥** —— 这是 D5（密钥两步轮换）能成立的前提。
        `secret_hash` 只在 DB 里，任何响应都**不返回明文**。
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: 密钥列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/NodeKey'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'
    post:
      tags: [admin]
      operationId: createAdminNodeKey
      summary: 签发节点密钥（**D5 第 1 步**，明文只在此响应里出现一次）
      description: |
        密钥形态 `bpn_<key_id>_<secret>`：`bpn_` 固定前缀（便于日志/代码扫描正则识别泄漏）、
        `key_id` 是 base32 六字符短标识（**存在的唯一目的是让服务端一次主键查询定位到行**）、
        `secret` 是 32 字节 CSPRNG base64url 无填充。

        `secret_hash` 用 **SHA-256 而不是 argon2id/bcrypt —— 这是有意的取舍**：
        慢哈希抵抗的是对低熵人类密码的离线爆破，这里是 256 位 CSPRNG 高熵密钥，离线爆破物理上不成立，
        而每 60 秒 × 节点数 × 5 端点都付一次 argon2 是纯损失。比对用 `subtle.ConstantTimeCompare`。
        **这条取舍在密钥改为人工可设时立刻失效 —— 所以 API 不提供「自定义密钥」入口**
        （请求体里没有任何写 secret 的字段）。

        默认签发 scope = `node:config:read` `node:users:read` `node:traffic:write`
        `node:alive:write` `node:alive:read`；`node:status:write` 按需。
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - $ref: '#/components/parameters/TotpCodeHeaderRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodeKeyCreateRequest'
      responses:
        '201':
          description: 已签发（`secret` 明文只在此出现一次）
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/NodeKeyCreated'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/node-keys/{key_id}:
    delete:
      tags: [admin]
      operationId: revokeAdminNodeKey
      summary: 吊销节点密钥（**D5 第 2 步，服务端强制两步**）
      description: |
        **服务端校验前置条件**：该节点必须存在另一把 `revoked_at IS NULL` 且
        `last_used_at > 新密钥签发时刻` 的密钥。不满足 → 409 `STATE_CONFLICT`，
        message 写明「新密钥尚未被节点使用过，现在吊销旧密钥会导致节点失联」。

        **UI 层禁止一步完成是不够的，API 层必须自己拒绝。**
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - name: key_id
          in: path
          required: true
          description: '`node_keys.key_id`（base32 六字符）'
          schema:
            type: string
            pattern: '^[a-z2-7]{6}$'
        - $ref: '#/components/parameters/TotpCodeHeaderRequired'
      responses:
        '204':
          description: 已吊销
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '409':
          $ref: '#/components/responses/ErrConflict'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/stats:
    get:
      tags: [admin]
      operationId: getAdminStats
      summary: 流量统计（模块 7）
      description: |
        > ⚠️ **缺口**（api-contract.md §14）：`stat_user_server(user_id, server_id, date, u, d)`
        > 交叉维度表未纳入端点设计，现有聚合只有 `stat_user` 与 `stat_server`，
        > 因此「按节点分布」暂时无法回答。
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - name: scope
          in: query
          required: false
          description: 聚合维度
          schema:
            type: string
            enum: [user, server, global]
            default: global
        - name: from
          in: query
          required: false
          description: 起始时间（RFC3339，UTC）
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: 结束时间（RFC3339，UTC）
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: 统计结果
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatBucket'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/stats/export:
    get:
      tags: [admin]
      operationId: exportAdminStats
      summary: 导出统计 CSV（**D14**）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - name: scope
          in: query
          required: false
          description: 聚合维度
          schema:
            type: string
            enum: [user, server, global]
            default: global
      responses:
        '200':
          description: CSV
          content:
            text/csv:
              schema:
                type: string
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '429':
          $ref: '#/components/responses/ErrRateLimited'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/tickets:
    get:
      tags: [admin]
      operationId: listAdminTickets
      summary: 工单列表（模块 8）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
        - $ref: '#/components/parameters/CountQuery'
      responses:
        '200':
          description: 工单列表
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/tickets/{id}:
    get:
      tags: [admin]
      operationId: getAdminTicket
      summary: 工单会话（**含 `is_internal = true` 的内部备注**）
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: 工单会话
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminTicketDetail'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '500':
          $ref: '#/components/responses/ErrInternal'
    patch:
      tags: [admin]
      operationId: updateAdminTicket
      summary: 改工单状态 / 等级
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTicketPatch'
      responses:
        '200':
          description: 已更新
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '403':
          $ref: '#/components/responses/ErrForbidden'
        '404':
          $ref: '#/components/responses/ErrNotFound'
        '422':
          $ref: '#/components/responses/ErrUnprocessable'
        '500':
          $ref: '#/components/responses/ErrInternal'

  /api/v1/admin/tickets/{id}/messages:
    post:
      tags: [admin]
      operationId: createAdminTicketMessage
      summary: 回复工单（**可写 `is_internal`**）
      description: '`is_internal = true` 的消息**永远不会**出现在用户面的 `TicketMessage` 里 —— 用户面的类型上就没有这个字段。'
      security:
        - adminSession: []
          adminIap: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateTicketMessageRequest'
      responses:
        '201':
          description: 已回复
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
[...]
